{% extends 'base.html' %}

{% block content %}
    <p><a href="{{url_for('main')}}">List Books</a></p>
    <h3>Delete Book</h3>
    <form action="{{url_for('delete')}}" method="post">
        <input type="hidden" name="book_id" value="{{book_record.book_id}}">
        Author:<br />
        <input type="text" name="author" value="{{book_record.author}}" readonly /><br />
        Title:<br />
        <input type="text" name="title" value="{{book_record.title}}" readonly /><br />
        Genre:<br />
        <input type="text" name="genre" value="{{book_record.genre}}" readonly /><br />
        Price:<br />
        <input type="text" name="price" value="{{book_record.price}}" readonly /><br /><br />
        <button type="submit">Yes delete the book</button>
    </form>

{% endblock %}