{% extends '_base.html' %}

{% block content %}
<p>Click <a href="{{url_for('main')}}">here</a> to go back to home page</p>
<form action="{{url_for('login')}}" method="post">
    <div class="input-group">
        <label for="name">
            Username:
        </label>
        <input type="text" id="name" name="username" value="{{request.form.username}}" />
    </div>
    <div class="input-group">
        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password" value="{{request.form.password}}" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

{% endblock %}