{% extends 'base.html' %}
{% block content %}
    <h2>Welcome to the Books application</h2>
    <h3>Please login to access application</h3>
    <form action="" method="post">
        <div>
           <label for="username">Username: </label>
           <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="pasword" name="password" />
        </div>
        <div>
            <button type="submit" id="submit">Log In</button>
        </div>
        
    </form>
{% endblock %}