{% extends '_base.html' %}

{% block content %}
<h1>Welcome to the Books Application</h1>
<h3>Please login to be able to add, edit, and delete books</h3>
<form action="{{url_for('login')}}" method="post">
    <div class="input-group">
        <label for="name">
            Username:
        </label>
        <input type="text" id="name" name="username" value="{{request.form.username}}" />
    </div>
    <div class="input-group">
        <label for="password">
            Password:
        </label>
        <input type="password" id="password" name="password" value="{{request.form.password}}" />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

{% endblock %}